<% content_for( :title, t('.title'))%>
<div class="bg-customBeige min-h-screen flex items-center">
  <div class="container mx-auto bg-customBeige">
    <div class="flex flex-col justify-center items-center">
      <div class="text-center">
        <p class="text-customGreen6 text-xl sm:text-2xl font-extrabold my-4 px-2" id="start-description">
          この診断では自己否定度を知ることができます。<br> 質問は合計で10問です。
        </p>
        <button type="button" class="text-customGreen5 bg-customGreen6  transition duration-150 ease-in-out border-2 border-customGreen2 rounded-xl drop-shadow-lg hover:bg-customGreen7 hover:drop-shadow-lg hover:-translate-y-1 px-4 py-2 my-8" id="start-questions">診断を始める</button>
      </div>
      <div class="container mx-auto text-center">
        <%= form_with url: calculate_questions_path, method: :post, data: { turbo: false } do |f| %>
          <div class="error-message hidden text-danger text-sm" id="error_message">選択してください</div>
          <% @questions.each_with_index do |question, index| %>
            <div id="question_<%= index + 1 %>" class="question hidden">
              <h2 class="text-center">Q<%= index + 1 %></h2>
              <div class="container mx-auto">
                <p><%= question.title %></p>
                <div class="flex flex-col">
                  <% question.scores_for_role.each do |choice, score| %>
                    <%= f.radio_button "answer_#{index + 1}", "#{question.question_type}→#{choice}", id: "question_#{index + 1}_choice_#{score}", class: 'hidden' %>
                    <%= f.label "question_#{index + 1}_choice_#{score}", choice, class: 'text-customGreen5 bg-customGreen6 border-2 border-customGreen2 rounded-3xl drop-shadow-lg hover:bg-white hover:drop-shadow-lg px-4 py-2 mb-4' %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <button type="button" data-action="previous-question" id="previous_button" class="btn-previous hidden">戻る</button>
          <button type="button" data-action="next-question" id="next_button" class="btn-next hidden">次へ</button>
          <%= f.submit "結果", id: "submit-button", class: 'btn-next hidden' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
