<!DOCTYPE html>
<html>
  <head>
    <title>おこと診断 ログイン後</title>
  </head>
  <body>
    <div class="bg-mobile1 md:bg-desktop1 bg-cover bg-center w-full h-screen">
      <div class="container mx-auto text-center">  
      <header class="p-4">
        <div class="container mx-auto text-center">
          <img src="<%= asset_path('kotosin.png') %>" class="mx-auto" style="width: 500px;" />
        </div>
      </header>

        <div class="p-4">
          <div class="container mx-auto text-center">
            <%= link_to '診断スタート', diagnoses_path, class: "btn bg-silver" %>
            <h1 class="text-2xl p-4 font-bold">おことの情報</h1>
            <%= link_to "ことについて", okotos_path, class: "btn bg-silver " %>
            <%= link_to "おことの演奏技法", plays_okotos_path, class: "btn bg-silver" %>
            <h2 class="text-2xl p-4 font-bold">ランキング</h2>
            <%= link_to "ランキング", ranks_results_path, class: "btn bg-silver mb-4" %> 
          </div>        
            <div class="btn bg-secondary-content"> <!-- 余白を追加 -->
            <%= link_to "https://twitter.com/share?url=https://www.okotoshindan.com/&text=【お箏診断】診断をしてあなたの聞きたいお箏の曲を聞けます♪お箏の曲は眠たくない曲もたくさんありますよ！！", target: '_blank', title: "Xでシェア" do %>
              Xでシェアする
            <% end %>
            </div>
          <div class="w-full flex justify-center p-4">
            <div id="line-button-container" class="line-it-button ml-4" data-lang="ja" data-type="friend" data-env="REAL" data-lineId="@501hrlmq" style="display: block;"></div>
            <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
