<%= form_with model: @diagnosis, url: diagnoses_path, local: true do |form| %>
    <%= form.hidden_field :id %>
    <%= form.text_field :title %>
  
    <h3>Q.1 どちらの音楽がききたいですか？</h3>
  
    <% Diagnosis.where(id: [1, 2]).each do |diagnosis| %>
      <label>
        <%= radio_button_tag :diagnosis_id, diagnosis.id %>
        <%= link_to diagnosis.title, diagnosis_path(id: diagnosis.id), class: "link" %>
      </label>
    <% end %>
  <% end %>
