<div class="bg-scroll" style="background-image: url('<%= asset_path('kinume.png') %>'); height: 100vh; width: 100%; background-size: cover; background-position: center;">
<div class="p-4">
<div class="container mx-auto text-center">
<% if params[:id] == "1" %>
  <h3 class="text-xl p-4">Q.2 次にどちらの音楽がききたいですか？</h3>

  <% Diagnosis.where(id: [3, 4, 5]).each do |diagnosis| %>
    <label>
      <% if diagnosis.id == 3 %>
        <%= link_to diagnosis.title, result_path(1), class: "btn btn-outline btn-info" %>
      <% elsif diagnosis.id == 4 %>
        <%= link_to diagnosis.title, result_path(2), class: "btn btn-outline btn-info" %>
      <% elsif diagnosis.id == 5 %>
        <%= link_to diagnosis.title, diagnosis_path(id: diagnosis.id),class: "btn btn-outline btn-info" %>
      <% end %>
    </label>
  <% end %>

<% elsif params[:id] == "2" %>
  <h3 class="text-xl p-4">Q.2 次にどちらの音楽がききたいですか？</h3>

  <% Diagnosis.where(id: [6, 7]).each do |diagnosis| %>
    <label>
      <% if diagnosis.id == 6 %>
        <%= link_to diagnosis.title, result_path(6), class: "btn btn-outline btn-info" %>
      <% elsif diagnosis.id == 7 %>
        <%= link_to diagnosis.title, result_path(7), class: "btn btn-outline btn-info" %>
      <% end %> <!-- ここを修正してendを追加 -->
    </label>
  <% end %>

<% elsif params[:id] == "5" %>
  <h3 class="text-xl p-4">Q.3 最後にどちらの音楽がききたいですか？</h3>

  <% Diagnosis.where(id: [8, 9, 10]).each do |diagnosis| %>
    <label>
      <% if diagnosis.id == 8 %>
        <%= link_to diagnosis.title, result_path(3), class: "btn btn-outline btn-info" %>
      <% elsif diagnosis.id == 9 %>
        <%= link_to diagnosis.title, result_path(4), class: "btn btn-outline btn-info" %>
      <% elsif diagnosis.id == 10 %>
        <%= link_to diagnosis.title, result_path(5), class: "btn btn-outline btn-info" %>
      <% end %> <!-- ここもendを追加 -->
    </label>
  <% end %>
<% end %>
</div>
</div>
</div>
