<!DOCTYPE html>
<html>
  <head>
    <title>お箏診断</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %>
</head>

  <body>
    <%= render 'shared/header' %>
    <main>
        <%= yield %>
    </main>
    <%= render 'shared/footer' %>
</body>
</html>
